/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    box-sizing: content-box;
    color: rgb rgb(255, 255, 255);
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

/* Header Section */
header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 100px 0;
    text-align: center;
    display: flex;
}

header h1 {
    margin: 0;
    font-size: 3.5em;
    display: flex;
}

header p {
    padding: 0;
    font-size: 1.2em;
    border-width: 0cap;
    display: flex;
}

/* About Section */
#about {
    padding: 100px;
    background-image: url(aboutBack.jpg);
    background-size: cover;
    display: flex;
}

#about h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgb(199, 188, 188);
    display: flex;
}

#about p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #ccc;
    display: flex;
}

/* Projects Section */
#projects {
    padding: 40px 0;
    background-image: url(projectBack.jpg);
    background-size: cover;
    display: flex;
}

#projects h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    display: flex;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.project-item1 {
    width: 30%;
    background-color: #f4f4f4;
    background-image: url(hotel.png);
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}

.project-item2 {
    width: 30%;
    background-color: #f4f4f4;
    background-image: url(village.jpg);
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}

.project-item3 {
    width: 30%;
    background-color: #f4f4f4;
    background-image: url(driver.png);
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}

.project-item1 h3 {
    text-align: center;
    color: #030a9a;
    margin-top: 0;
    font-size: 1.5em;
    display: flex;
}

.project-item2 h3 {
    text-align: center;
    color: #350202;
    margin-top: 0;
    font-size: 1.5em;
    display: flex;
}

.project-item3 h3 {
    text-align: center;
    color: #585504;
    margin-top: 0;
    font-size: 1.5em;
    display: flex;
}

/* Skills Section */
#skills {
    padding: 40px 0;
    background-color: #faa0a0;
    background-size: cover;
    display: flex;
}

#skills h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    display: flex;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    display: flex;
}

.skills-list li1 {
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}

.skills-list li2 {
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}

.skills-list li3 {
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}

.skills-list li4 {
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}

.skills-list li5 {
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}

.skills-list li6 {
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
}

/* Contact Section */
#contact {
    background-color: #faa0a0;
    padding: 0px;
    display: flex;
}

#contact h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0px;
    display: flex;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#contact input,
#contact textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

#contact button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}

#contact button:hover {
    background-color: #555;
    display: flex;
}

/* Footer */
footer {
    background-color: #faa0a0;
    color: black;
    text-align: center;
    display: flex;
    padding: 5px 0;
}
